POSTGRES_DB=gamestudiodb
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres

JWT_SECRET=super-secret-key-super-secret-key
JWT_ACCESS_TOKEN_EXPIRATION_TIME=600000
JWT_REFRESH_TOKEN_EXPIRATION_TIME=10080000

VITE_API_BASE_URL=http://localhost:8080/api/v1
